<div class="mb-3">

<!-- #CodePenChallenge: Lightness -->

<div class="overlay">

<div class="text">
	<div class="wrapper">
		<div id="L" class="letter">P</div>
		<div class="shadow">P</div>
	</div>
	<div class="wrapper">
		<div id="I" class="letter">R</div>
		<div class="shadow">R</div>
	</div>
	<div class="wrapper">
		<div id="G" class="letter">O</div>
		<div class="shadow">O</div>
	</div>
	<div class="wrapper">
		<div id="H" class="letter">D</div>
		<div class="shadow">D</div>
	</div>
	<div class="wrapper">
		<div id="T" class="letter">U</div>
		<div class="shadow">U</div>
	</div>
	<div class="wrapper">
		<div id="N" class="letter">C</div>
		<div class="shadow">C</div>
	</div>
	<div class="wrapper">
		<div id="E" class="letter">T</div>
		<div class="shadow">T</div>
	</div>
	<div class="wrapper">
		<div id="S" class="letter">S</div>
		<div class="shadow">S</div>
	</div>
	<!-- <div class="wrapper">
		<div id="Stwo" class="letter">S</div>
		<div class="shadow">S</div>
	
    </div> -->

  </div>
</div>
</div>